@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 11, 38, 76;
}

.nav {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

body {
  padding: auto;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
}

.logo {
  margin-left: 1rem;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 500;
}

.mainText {
  margin-bottom: 1rem;
}

.getStartedBtn {
  margin-top: 1.5rem;
}

.navEndBtn {
  margin-left: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}